.columns {
	.ui-table {
		border-collapse:collapse;
		width: 100%;
		margin: 1em 0; 
		background-color: transparent;
		border: solid 1px #D5D5D5;
		
		thead { 
			background-color: #E5E5E5; 
			
			th {
				background-color:transparent;
				color: #222222;
				padding: 10px;
				border-right: solid 1px #D5D5D5;
				cursor: pointer;
				
				&.ui-table-sort-up, &.ui-table-sort-down { 
					background-color: #CCCCCC;
				}
				
				&:last-child {
					border-right: 0px;
				}
				
				.ui-arrow {
					float: right;
					font-size: 10px;
				}
			}
		} 
		
		tbody { 
			background-color: transparent; 
			
			tr {
				
				&.ui-table-rows-odd { 
					background-color: #F2F2F2;
				}
				
				&.ui-table-rows-even { 
					background: #FFFFFF;
				}
				
				td {
					background:transparent;
					border-right: solid 1px #D5D5D5;
					color: #656565;
					padding: 10px;
				}
			}
		}
	}
	
	.ui-table-disabled { 
			}
	
	.ui-table-controls {
		span {
			font-size: 12px;
			padding: 5px;
			vertical-align: middle;
			
			&.ui-table-control-next, &.ui-table-control-prev { 
				cursor:pointer;
				font-family: "Arial Narrow";
				font-size: 16px;
			}
			
			 &.ui-table-control-disabled {
				 color: #999999;
				 font-family: "Arial Narrow";
				 font-size: 16px;
			 }
		}
	}
	
	.ui-table-footer { 
		width: 100%;
		padding: 8px 0;
		font-size: 11px;
		text-align: left; 
		color: #333;
		
		span { 
			vertical-align: middle;
		}
		
		.ui-table-size, .ui-table-results, .ui-table-controls {
			display: inline-block;
			width: 32%; 
		}
		
		.ui-table-size {
			padding-left: 20px;
		}
		
		.ui-table-results { 
			text-align: center;
		}
		
		.ui-table-controls { 
			text-align: right;
		}

		.ui-table-control-next, .ui-table-control-prev, .ui-table-control-disabled {
			display: inline-block;
			background-color: transparent; 
			padding: 5px;
			vertical-align: middle;
			cursor:pointer;
			text-align: center;
		} 
	
		.ui-table-control-disabled { 
			img { 
				opacity: 0.5;
			}
		}
	}	

	
	.ui-columns-search { 
		text-align: right;
		
		input { 
			width: 200px;
			border-radius: 10px;
			padding: 4px 10px 4px 25px;
			border: 2px solid #ccc;
			background-image: url(../images/search.png); 
			background-position: 5px center; 
			background-repeat: no-repeat; 
			
			&:focus { 
				border: 2px solid #6196CD;
				outline: none;
			}
		}

	}
	
	.ui-columns-table { 
			
	}

}